<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Jarvis ~ Your Personal Conceirge</title>
  <link rel="shortcut icon" href="waiter.png" type="image/x-icon">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <!-- rotating css -->
  <link rel="stylesheet" href="/styles/rotating-card.css">
  <!-- main css -->
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  {{!--
  <script src="/js/googleSign.js"> </script> --}}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/images/Jarvis-Logo-200px.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/services">Cleaner</a>
            <a class="dropdown-item" href="/services">Personal Chef</a>
            <a class="dropdown-item" href="/services">Laundry Service</a>
          </div>
        </li>
        <button onclick="window.location.href='/signup'" style=" margin-right: 5px" class="btn btn-sm btn-outline-secondary"
          id="signUp" type="button">Sign
          Up</button>
        <button onclick="window.location.href='/login'" class="btn btn-sm btn-outline-secondary" id="login" type="button">Login</button>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>

      </ul>
    </div>
  </nav>

  {{{body}}}

  <!-- Footer -->
  <footer class="pageFooter">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Jarvis - Your Personal Conceirge</h5>
          <p class="grey-text text-lighten-4">Created by Abdul, Alejandra, Hayley, Rob and Suraj</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
        Jarvis © 2018 All Rights Reservered.
        <a class="grey-text text-lighten-4 right" href="#!">GitHub</a>
      </div>
    </div>
  </footer>

</body>

{{!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    $(".dropdown-trigger").dropdown();
    console.log("ready!");
    $('.carousel').carousel();
    $('[rel="tooltip"]').tooltip();



  });

  function rotateCard(btn) {
    var $card = $(btn).closest('.card-container');
    console.log($card);
    if ($card.hasClass('hover')) {
      $card.removeClass('hover');
    } else {
      $card.addClass('hover');
    }
  }
</script>

<script>
  $(document).ready(function () {
    //on initial load of the webpage, the signOut button will be hidden
    //$('#logOut').css('display', 'none');
    //setting an empty variable equal to null
    console.log('js file is working');
    var windowOpen;
    //on click of the login button, a new window(popup) will open to the specified href, with a width and height pre-defined
    $('.googleAuth').on('click', function () {
      event.preventDefault();
      //this url was generated from the calenderRoutes.js file url variable
      var googleUrl =
        'https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.events&prompt=consent&response_type=code&client_id=32898389523-n1q62hpuivjjee3i86n876pf96vkn543.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauthcallback';
      windowOpen = window.open(
        googleUrl,
        'Sign in with Google',
        'Width=500px, height: 700px'
      );
    });
    //this function works with the file under public/oauthcallback/callback.html
    //when this window (calender-login page) gets a message it executes
    window.onmessage = function (event) {
      //when a successful oauth code is given back from the google login window
      //this sign in button will be hidden
      $('.googleAuth').css('display', 'none');
      //the sign out button will then be displayed
      //$('#logOut').css('display', 'block');
      //the window created before with the link to the login closes
      windowOpen.close();
      //saving the message received from that closed window into a variable.
      //However the message received is the entire location.href of that window and we only want the oauth code
      var url = event.data;
      //console.log(event);
      //console.log('This is the event :' + url);
      //lastIndexOf of will cut everything before the specified string
      var index = url.lastIndexOf('code=');
      //this will take 5 indexs ahead of the variable index, so we also cut out the
      //consistent portion of "code=" for every users login oauth code.
      var urlIndex = url.substring(index + 5);
      // console.log('with index ' + urlIndex);
      //var code = urlIndex.substring(0, urlIndex.lastIndexOf('&'));
      //although uneccessary, I just set urlIndex=code, and sent the code to calendarRoutes.js
      var code = urlIndex;
      console.log('This is the final code: ' + code);
      //sending the modified code using a post request to the url /token. the data has to be in an object, so
      //just wrap the code in an object and the property code set equal to the variable code.
      $.ajax({
        type: 'POST',
        url: '/token',
        data: { code: code }
      });
    };
    //signOut button js
    //needs work
    /* $('#logOut').on('click', function() {
      console.log('Logout');
      function signOut() {
        //google api method fn
        // var auth2 = gapi.auth2.getAuthInstance();
        //on successful sign out
        //auth2.signOut().then(function() {
        //alert that user has signed out
        alert('Successfully Signed out');
        //change hidden sign in button back to being visible
        $('#login').css('display', 'block');
        //change profile data being shown back to being hidden
        $('#logOut').css('display', 'none');
        //});
      }
      signOut();
    });*/
    //end of document .ready jqeury function
  });

</script>


</html>