<div class="jumbotron">
  <h1 class="display-4">Tired of having to do all the chores on your own</h1>
  <p class="lead">Jarvis is your personal Concierge, where you can book all the services you need</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Book Now</a>
</div>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/images/female-cleaner.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Personal Cleaner</h2>
          <p>Keeping your home tidy is normally the last thing on the list of todo's when you live a busy life. As
            milenials we know! Now you can have Jarvis help you with this. At your finger tips you can order a personal
            cleaner to come at your beckon call. You can set the schedule around your life, daily, weekly, monthly or
            even just a one time spruce up.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/images/male-chef.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Personal Chef</h2>
          <p>Finding that you are having take out too often? Longing for a home cooked meal, but not by your hand? Now
            you can have Jarvis help you with this. With a few strategic clicks, you can order a personal chef to come
            at your beckon call. You can set the schedule around your life, daily, weekly, monthly or even just a
            one-time catering event.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="/images/doing-the-laundry.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Laundry Service</h2>
          <p>Tired of the laundry piles building up? Find yourself wanting to just go buy more clothes instead of
            having to wash what you have? Jarvis can take care of making sure your clothes are washed and folded. Now
            you can order a landry service to your door. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="addCompany">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="p-5">
          <h2 class="display-4">Want to join Jarvis' list of services?</h2>
          <p>We're always looking for exceptional providers to join our growing network of cleaners, chefs and laundry
            services. Together, we can help you grow your client list and earn more.</p>
          <button class="btn btn-light" onclick="window.location.href='/companysignup'" style=" margin-right: 5px"
            class="btn btn-sm btn-outline-secondary" id="signUp" type="button">Join our Network!</button>
          {{!-- <button type="button" class="btn btn-light">Join our Network</button> --}}
        </div>
      </div>
    </div>
  </div>
</section>