<section class="serviceList">
    <div class="contractorContainer">
        <div class="row">
            {{!-- newcard --}}
            <div class="contractor-container">

                <div class="col-md-4 col-sm-6">
                    <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">

                                    <img src="/images/female-cleaner.jpg" />
                                </div>
                                <div class="user">
                                    <img class="img-circle" src="/images/maiddotcom.png" />
                                </div>

                            </div>
                        </div>

                        <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">"Excellent service with great discipline. I find their cleaning very
                                    thorough and
                                    neat!" -- Rehan</h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h4 class="text-center">What we do</h4>
                                    <p class="text-center">Reviews:
                                    </p>



                                </div>
                            </div>
                            <div class="footer">
                                <div class="text-center">
                                    <a href="#" class="book"><i class="far fa-calendar-alt"></i></a>
                                    <a href="#" class="phone"><i class="fas fa-mobile-alt"></i></a>
                                    <a href="#" class="email"><i class="fas fa-envelope"></i></a>
                                    <a href="#" class="chat"><i class="fas fa-comments"></i></a>
                                </div>
                            </div>
                        </div> <!-- end back panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->

            </div> <!-- end col sm 3 -->


        </div>
    </div>
</section>
<script type="text/javascript" src="/js/displayservices.js"></script>