<section class="serviceList">
  <div class="container">
    <div class="row">
      {{!-- newcard --}}
      <div class="col-md-4 col-sm-6">

        <div class="card-container">
          <div class="card">
            <div class="front">
              <div class="cover">
                <img src="/images/female-cleaner.jpg" />
              </div>
              <div class="user">
                <img class="img-circle" src="/images/maiddotcom.png" />
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">Maid.com</h3>
                  <p class="profession">Personal Cleaners</p>
                  <p class="text-center">We know your are hard at work and do not have time to keep everything tidy.
                    That is where we come in!</p>
                </div>
                <div class="footer">
                  <i class="fa fa-mail-forward"></i> Learn More
                </div>
              </div>
            </div> <!-- end front panel -->
            <div class="back">
              <div class="header">
                <h5 class="motto">"Excellent service with great discipline. I find their cleaning very thorough and
                  neat!" -- Rehan</h5>
              </div>
              <div class="content">
                <div class="main">
                  <h4 class="text-center">What we do</h4>
                  <p class="text-center">Our cleaning ladies are trained to starts to clean any room in your house by
                    the routine task of dusting and spider web removal. She goes around a room and dusts down all
                    walls and crown moldings, picture frames, any woodwork, shelves, lamps, window/door ledges and
                    frames, blinds, curtains…anything that could potentially collect the dust on its surface. She
                    double checks the webs are removed effectively then she proceed to a room specific cleaning
                    tasks.</p>



                </div>
              </div>
              <div class="footer">
                <div class="text-center">
                  <a href="#" class="book"><i class="far fa-calendar-alt"></i></a>
                  <a href="#" class="phone"><i class="fas fa-mobile-alt"></i></a>
                  <a href="#" class="email"><i class="fas fa-envelope"></i></a>
                  <a href="/chat" class="chat"><i class="fas fa-comments"></i></a>
                </div>
              </div>
            </div> <!-- end back panel -->
          </div> <!-- end card -->
        </div> <!-- end card-container -->
      </div> <!-- end col sm 3 -->








    </div>
  </div>
</section>