<section class="login-block">
  <div class="container">
    <div class="containerLogin">
      <div class="row">
        <div class="col-md-12 login-sec">
          <h2 class="text-center">Sign Up Now</h2>
          <form class="login-form">
            <div class="form-group">
              <label for="name" class="text-uppercase">Name</label>
              <input id="name" type="text" class="form-control" placeholder="John Smith">

            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-uppercase">User Name</label>
              <input name="userName" type="text" class="form-control" placeholder="johnSmith123">

            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-uppercase">Address</label>
              <input name="userAddress" type="text" class="form-control" placeholder="">

            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-uppercase">Phone Number</label>
              <input name="userPhone" type="text" class="form-control" placeholder="4161234567">

            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-uppercase">Email</label>
              <input name="userEmail" type="text" class="form-control" placeholder="johnsmith@youremail.com">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="text-uppercase">Password</label>
              <input name="userPassword" type="password" class="form-control" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>


        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/signUp.js"></script>