<section class="login-block">
  <div class="container">
    <div class="containerLogin">
      <div class="row">
        <div class="col-md-12 login-sec">
          <h2 class="text-center">Sign Up Now</h2>
          <form action="/api/customerSignUp" method="POST" class="login-form">


            <div class="form-group">
              <label for="name" class="text-uppercase">Name</label>
              <input name="custName" type="text" class="form-control" placeholder="John Smith">

            </div>

            {{!-- <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName" class="text-uppercase">First Name</label>
                  <input id="firstName" type="text" class="form-control" placeholder="John">
                </div>
              </div><!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName" class="text-uppercase">Last Name</label>
                  <input id="lastName" type="text" class="form-control" placeholder="Smith"> </div>
              </div><!-- /.col -->
            </div><!-- /.row --> --}}





            <div class="form-group">
              <label for="userName" class="text-uppercase">User Name</label>
              <input name="custUserName" type="text" class="form-control" placeholder="johnSmith123">

            </div>
            <div class="form-group">
              <label for="Address" class="text-uppercase">Address</label>
              <input name="custAddress" type="text" class="form-control" placeholder="">

            </div>
            <div class="form-group">
              <label for="phoneNumber" class="text-uppercase">Phone Number</label>
              <input name="custPhone" type="text" class="form-control" placeholder="4161234567">

            </div>
            <div class="form-group">
              <label for="Email" class="text-uppercase">Email</label>
              <input name="custEmail" type="text" class="form-control" placeholder="johnsmith@youremail.com">

            </div>
            <div class="form-group">
              <label for="Password" class="text-uppercase">Password</label>
              <input name="custPassword" type="password" class="form-control" placeholder="">
            </div>
            {{!-- <div class="form-group">
              <label for="PasswordMatch" class="text-uppercase">Re-enter your Password</label>
              <input name="userPasswordMatch" type="password" class="form-control" placeholder="">
            </div> --}}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>


        </div>
      </div>
    </div>
  </div>
</section>

{{!--
<script type="text/javascript" src="/js/signUp.js"></script> --}}