body {
  font-size: 14px;
  background-color: #e5e9ed;
}

.jumbotron {
  background-image: url(/images/young-woman-in-laundry.jpg);
  background-size: cover;
  height: 700px;
  border-radius: none;
  color: white;
}

.addCompany {
  text-align: center;
  color: white;
  background-image: url(/images/gradient.png);
  background-size: cover;
}

.pageFooter {
  padding-top: 25px;
  background-color: darkslategrey;
  color: white;
}

#brand {
  margin-left: 50px;
  height: 75px;
}

.serviceList {
  margin: 50px auto;
}

/* LOGIN + SIGN UP */

.login-block {
  background: #62c5de; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #8cffb2,
    #62c5de
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #8cffb2,
    #62c5de
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0;
}
.banner-sec {
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.containerLogin {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
.login-sec {
  padding: 50px 50px;
  position: relative;
}
.login-sec .copy-text {
  position: absolute;
  width: 100%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
.login-sec .copy-text i {
  color: #8cffb2;
}
.login-sec .copy-text a {
  color: #62a2de;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #62a2de;
}
.login-sec h2:after {
  content: ' ';
  width: 100px;
  height: 5px;
  background: #8cffb2;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #62a2de;
  color: #fff;
  font-weight: 600;
}
.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-textdark h2 {
  color: rgb(44, 44, 44);
  font-weight: 600;
}

.banner-text h2:after {
  content: ' ';
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: #fff;
}
#logOut {
  display: 'none';
}
