.list-group-item {
  line-height: 2.5;
}

.jumbotron {
  background-image: url(../images/young-woman-in-laundry.jpg);
  background-size: cover;
  height: 700px;
  border-radius: none;
  color: white;
}

.addCompany {
  text-align: center;
  color: white;
  background-image: url(../images/gradient.png);
  background-size: cover;
}

.pageFooter {
  padding-top: 25px;
  background-color: darkslategrey;
  color: white;
}
